@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';

body {
  background-color: antiquewhite;
}

form {
  display: flex;
  flex-direction: column;
  width: 20em;
}

.card {
  width: 30em;
}

.player-img {
  width: 15em;
}

.buttons {
  display: flex;
  flex-direction: column;
};
